@import "../../../../node_modules/bootstrap/scss/bootstrap";

.card {
    background-color: white;
    position: relative;
    width: 100%;
    min-width: 300px;
    max-height: 600px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    aspect-ratio: 1 / 2;
    overflow: hidden;
}

.slider .bg {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 0;
    left: 0;
    border-radius: 25px 25px 0px 0px;
    background-color: #4da2a9;
}

.slider .image {
    position: absolute;
    width: 282px;
    height: 204px;
    top: 73px;
    left: 8px;
    object-fit: cover;
}

.slider .title {
    position: absolute;
    top: 376px;
    left: 20px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
}

.container {
    position: absolute;
    top: 404px;
    left: 8px;
    width: 258px;
}

.container .description {
    position: absolute;
    width: 258px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #4d4d4d;
    font-size: 12px;
}

.card .button-r {
    position: absolute;
    border-radius: 25px;
    width: 46px;
    height: 46px;
    top: 513px;
    left: 229px;
    overflow: hidden;
}

.card .button-l {
    position: absolute;
    border-radius: 25px;
    width: 46px;
    height: 46px;
    top: 513px;
    left: 178px;
    overflow: hidden;
}

#button-next {
    background-image: url("/button-right.svg");
}
#button-prev {
    background-image: url("/button-left.svg");
}

.card .positions {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    width: auto;
    top: 536px;
    left: 20px;
}

.positions .rectangle {
    position: relative;
    width: 22px;
    height: 8px;
    background-color: #000000;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  
.positions .dot {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #d9d9d9;
    border-radius: 25px;
    transition: all 0.3s ease;
}